<footer class="footer">
	<div class="footer-container">
		<p>Created by <a href="#">Team 1</a> &copy; {{ site.time | date: '%Y'}} | Logo from <a href="http://cdm16694.contentdm.oclc.org/cdm/landingpage/collection/als">nyheritage</a> and <a href="http://img1.findthebest.com/sites/default/files/10/media/images/t/Albany_Law_School_1378792.jpg">FindTheBest</a> </p>
	</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{{site.url}}/js/main.js"></script>
</body>
</html>