<header class="site-header" role="banner">
    <div class="site-top">
        <div class="site-topbar">
            <div class="als-bar"><p>Albany Law School</p></div>
            <a href="{{site.url}}"><img class="logo" src="https://www.sa.gov.au/__data/assets/image/0004/11398/Affordable_homes_key_icon.jpg" alt="House&key Logo" /></a>
            <a href="{{site.url}}"><img class="mobile-logo" src="https://www.sa.gov.au/__data/assets/image/0004/11398/Affordable_homes_key_icon.jpg" alt="House&key Logo" /></a>
            <div class="site-title"><h1><a class="link-home" href="{{site.url}}">{{site.title}}</a></h1></div>
        </div>
    </div>
    <nav class="navbar" role="navigation">
        <div class="navlink menu-bar"><div class="menu"> Menu </div></div>
        <div class="cont-details">
          <ul class="navlist">
            <li><a class="navlink" href="{{site.url}}/renting">Renting</a></li>
            <li><a class="navlink" href="{{site.url}}/leases">Leases</a></li>
            <li><a class="navlink" href="{{site.url}}/repairs">Repairs</a></li>
            <li><a class="navlink" href="{{site.url}}/evictions">Evictions</a></li>
            <li><a class="navlink" href="{{site.url}}/termination">Termination</a></li>
            <li><a class="navlink" href="{{site.url}}/rent-control">Rent Control</a></li>
        </ul>
    </div>
</nav>   
</header>
