<header class="site-header" role="banner">
    <div class="site-top">
        <div class="site-topbar">
            <div class="als-bar"><p>Albany Law School</p></div>
            <a href="index.html"><img class="logo" src="http://www.nyheritage.org/images/collections/albanylawPO.jpg" alt="albany law school" /></a>
            <a href="index.html"><img class="mobile-logo" src="http://img1.findthebest.com/sites/default/files/10/media/images/t/Albany_Law_School_1378792.jpg" alt="albany law school" /></a>
            <div class="site-title"><h1>Renters Rights</h1></div>
        </div>
    </div>
    <nav class="navbar" role="navigation">
        <div class="navbar-container">
          <ul class="navlist">
            <li><a class="navlink" href="default-page.html">Renting</a></li>
            <li><a class="navlink" href="#">Leases</a></li>
            <li><a class="navlink" href="#">Repairs</a></li>
            <li><a class="navlink" href="#">Evictions</a></li>
            <li><a class="navlink" href="#">Leaving</a></li>
        </ul>
    </div>
</nav>   
</header>