<header class="site-header" role="banner">
    <div class="site-top">
        <div class="site-topbar">
            <div class="als-bar"><p>Albany Law School</p></div>
            <a href="{{site.url}}"><img class="logo" src="img/logo" alt="albany law school" /></a>
            <a href="{{site.url}}"><img class="mobile-logo" src="img/logo-mobile" alt="albany law school" /></a>
            <div class="site-title"><h1>Renters Rights</h1></div>
        </div>
    </div>
    <nav class="navbar" role="navigation">
        <div class="navbar-container">
          <ul class="navlist">
            <li><a class="navlink" href="#">Renting</a></li>
            <li><a class="navlink" href="leases">Leases</a></li>
            <li><a class="navlink" href="#">Repairs</a></li>
            <li><a class="navlink" href="#">Evictions</a></li>
            <li><a class="navlink" href="#">Leaving</a></li>
        </ul>
    </div>
</nav>   
</header>