<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Renters Rights</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

            <!-- Add your site or application content here -->
            <header class="site-header">
                <div class="site-top">
                    <div class="site-topbar">
                        <div class="als-bar"><p>Albany Law School</p></div>
                        <a href="#"><img class="logo" src="http://www.nyheritage.org/images/collections/albanylawPO.jpg" alt="albany law school" /></a>
                        <a href="#"><img class="mobile-logo" src="http://img1.findthebest.com/sites/default/files/10/media/images/t/Albany_Law_School_1378792.jpg" alt="albany law school" /></a>
                        <div class="site-title"><h1>Renters Rights</h1></div>
                    </div>
                </div>
                <nav class="navbar" role="navigation">
                    <div class="navbar-container">
                      <ul class="navlist">
                        <li><a class="navlink" href="#">Renting</a></li>
                        <li><a class="navlink" href="#">Leases</a></li>
                        <li><a class="navlink" href="#">Repairs</a></li>
                        <li><a class="navlink" href="#">Evictions</a></li>
                        <li><a class="navlink" href="#">Leaving</a></li>
                    </ul>
                </div>
            </nav>   
        </header>

        <div class="main">

            <div class="content blocks">
                <div class="content-bar"></div>
                <h2 class="title">News</h2>
                <p>&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus, ligula in rutrum egestas, tortor justo fermentum est, laoreet mollis erat augue sed nisi. Vivamus id viverra dui, et iaculis lectus. Mauris suscipit elit mauris, vitae congue massa posuere ut. In hac habitasse platea dictumst. Integer sed est a mauris sagittis cursus a non urna. Praesent mattis diam turpis, ut pharetra eros congue vel. Nulla venenatis orci vel ipsum accumsan tempus. Ut sagittis nec neque ac lobortis. Phasellus eget imperdiet metus, non sagittis tortor. Donec ornare ultricies varius. Integer sit amet sodales justo. Curabitur orci augue, tincidunt a eleifend a, sodales ac enim.</p>

                <p>&nbsp; Quisque lobortis lobortis risus sed facilisis. Morbi tincidunt non urna at condimentum. Ut ac commodo erat, sit amet efficitur tortor. Aliquam ornare libero leo. Donec efficitur nunc ac nisi consequat fringilla. Mauris quis rutrum mi. Nulla convallis dignissim risus volutpat scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla venenatis mattis lorem sit amet hendrerit. Fusce ac vehicula nulla, et cursus mauris. Donec libero diam, cursus eget dapibus a, tristique vel erat. Nam venenatis eget eros vel mattis.</p>

                <p>&nbsp; In vel ligula mattis, convallis metus nec, pellentesque ipsum. Cras malesuada orci sed risus dapibus ullamcorper. Suspendisse purus libero, vestibulum at ultricies finibus, venenatis id turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin commodo, tellus ac auctor elementum, tellus enim viverra mi, non viverra mauris ante eu neque. In facilisis justo sem, eget tincidunt turpis egestas nec. Proin ligula mi, maximus in dapibus a, rutrum sit amet ipsum. Suspendisse potenti. Nulla eget tellus fringilla, iaculis orci ut, placerat erat.</p>
            </div>

            <div class="quick-contacts blocks leftbox">
                <div class="content-bar"></div>
                <h2 class="title">Quick contacts</h2>
                <ul class="box-list">
                    <li><a href="#">Fusce sollicitudin</a></li>
                    <li><a href="#">Nam sodales</a></li>
                    <li><a href="#">Vitae vestibulum</a></li>
                </ul>
            </div>

            <div class="quick-links blocks leftbox">
                <div class="content-bar"></div>
                <h2 class="title">Quick links</h2>
                <ul class="box-list">
                    <li><a href="#">Praesent iaculis</a></li>
                    <li><a href="#">In congue turpis</a></li>
                    <li><a href="#">Pellentes</a></li>
                </ul>
            </div>

            <div class="smart-helper blocks leftbox">
                <div class="content-bar"></div>
                <h2 class="title">Smart Helper</h2>

                <p class="title">What kind of person are you?</p>
                <input class="answer" type="radio" name="opt" value="tenant" />Tenant<br />
                <input class="answer" type="radio" name="opt" value="landlord" />Landlord<br />
                <input class="answer" type="radio" name="opt" value="lawyer" />Lawyer<br />

                <p><button class="answer" type="button">Submit</button></p>

            </div>

        </div>

        <footer class="footer">
            <div class="footer-container">
            <p>Created by <a href="#">Team 1</a> 2014 &copy; | Logo from <a href="http://cdm16694.contentdm.oclc.org/cdm/landingpage/collection/als">nyheritage</a></p>
        </div>
        </footer>


    </body>
    </html>